<form asp-action="Create" method="post">
    Name:<br>
    <input type="text" name="name">
    <br>
    Country:<br>
    <input type="text" name="country">
    <br>
    Art:<br>
    <input type="text" name="art">
    <br><br>
    <input type="submit" value="Submit">
</form> 